{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3  bg-primary">
        <div class="row">
            <!-- Blog Entries Column -->
        <!--<div class="col-md-4 mt-3 col-lg-4 left">-->
        {% autoescape off %}
            {% for actividad in object_list %}
                <div class="col-md-3 col-lg-4" >
                        <div class="card h-10" >
                            <img class="card-img-top img-thumbnail" src="{{ actividad.image.url}}" alt="Conoce el Ho'oponopono">
                            <div class="card-body">
                            <p class="card-title h2">{{ actividad.titulo }}</p>
                            <p class="card-text h5">{{ actividad.tipo }}</p>
                            <p class="card-text text-muted h5">| {{ actividad.fecha}} </p>
                            <p class="card-text">{{actividad.contenido|slice:":300" }}</p>
                            <a href="{{ actividad.slug }}" class="btn btn-primary">Leer mas</a>
                        </div>
                    </div>
            {% endfor %}
        {% endautoescape %}
        </div>
    </div>

{% endblock %}
