{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3  bg-primary">
        <div class="row">
            <!-- Blog Entries Column -->
        <!--<div class="col-md-4 mt-3 col-lg-4 left">-->
        {% autoescape off %}
            {% for actividad in object_list %}
                <div class="col-md-3 col-lg-3">
                    <!--<div class="card mb-4">-->
                    <div class="card h-100" style="width: 18rem;">
                        <img class="img-thumbnail h-30" src="{{ actividad.image.url}}" class="" alt="{{ actividad.titulo }}" >
                        <div class="card-body">
                            <h2 class="card-title">{{ actividad.titulo }}</h2>
                            <p class="card-text text-muted h6">| {{ actividad.fecha}} </p>
                            <p class="card-text">{{actividad.contenido|slice:":300" }}</p>
                            <a href="{{ actividad.slug }}" class="btn btn-primary">Leer mas</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% endautoescape %}
        </div>
    </div>

{% endblock %}
