{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
    <div class="row">
        <div class="col-md-6 col-lg-6 text-center">
            <img src="{% static "imagenes/cruzmery1.jpg" %}" class="img-fluid img-thumbnail" alt="SoyCruzmery">
            <h1 class="display-4 font-weight-normal"></h1>
            <p class="lead font-weight-normal"></p>
        </div>
        <div class="col-md-6 col-lg-6 text-left">
            <ul class="listaVertical display-5 ">

                <li >
                    <a class="linkBlanco" href="mailto:cruzmery1116@gmail.com">
                        <i class="far fa-envelope"></i> cruzmery1116@gmail.com
                     </a>
                </li>
                <li class="list-inline-item">
                    <a class="linkBlanco" href="https://www.facebook.com/cvillegasmartinez">
                        <i class="fab fa-facebook"> Cruz Mery Villegas Martinez </i>
                     </a>
                </li>
                <li >

                    <a class="linkBlanco" href="https://www.instagram.com/soycruzmery/">
                        <i class="fab fa-instagram"></i> @soycruzmery
                    </a>
                </li>
                <li >
                    <a class="linkBlanco" href="">
                        <i class="fab fa-whatsapp"></i></i> 0426-1197015
                     </a>
                </li>
                <li >
                    <a class="linkBlanco" href="">
                        <i class="fab fa-whatsapp"></i></i> 0414-1233756
                     </a>
                </li>
                <li ></li>
            </ul>
            <div class="col-md-8 col-lg-12 text-center img-fluid img-thumbnail">
            <h1 class="display-4 font-weight-normal">El Ho’oponopono llego oportunamente a mi vida</h1>
                <p class="text-justify ">
                        Mi madre fue una mujer especial durante su vida, y así de especial fue su muerte, en el momento que le toco partir de este mundo mi hermana que estaba con ella en su lecho de muerte le decía muy bajito mientras agonizaba; quedate tranquila despídete poco a poco y con calma y repite estas palabras “Lo siento, perdóname, te amo, gracias " ella lentamente se fue quedando tranquila y serena hasta que nos dio el último adiós. Fue un proceso bonito a pesar del dolor que nos causó.
                    Muchos días después de superar la pérdida y el dolor de despedir a los seres que amas tanto, cuando ya aprendes que ya no están a tu lado si no dentro de ti, en tu amor para ellos que no acaba nunca, y en el recuerdo permanente,le pregunté a mi hermana de las palabras que le sugirió a mi madre repitiera, de allí conocí el Hoponopono,es una filosofía basada en la tradición hawaiana orientada a la corrección de patrones y creencias negativas, ancladas en el subconsciente que impide el desarrollo y la prosperidad del individuo.<br>
                </p>
                <p class="text-justify ">
                    Las palabras que repetía mi madre son las palabras gatillos del hoponopono que son frases diseñadas específicamente para conectar el momento “presente” y a una situación en particular que genere preocupación, estas palabras actúan por repetición de acuerdo a la comodidad del practicante, las puedes utilizar siguiendo tu intuición, puedes crear tus propias secuencias e incluirlas en tus prácticas diarias espirituales, puedes repetir las frases todas las veces que quieras y que consideres necesarias y en el momento que creas conveniente.

                    Algunas palabras gatillos más usadas son estas:

                    Lo siento, perdóname, te amo, gracias : se dice estas palabras en alguna situación que nos afecte, para producir sanación, para liberar lo negativo, para tener paz.

                    -Gotas de Rocío: para transmutación de situaciones que han permanecido en el tiempo.
                    -Llave de Luz : para disolver enfrentamientos.
                    -Luz : para obtener equilibrio antes de tomar una decisión.
                    -Llovizna : para atender situaciones vinculadas con el manejo del dinero.
                    -Azul Hielo : para anular las causas del dolor.
                    -Colibrí : para contrarrestar problemas de provisión.
                    Verde Esmeralda : para el tratamiento de enfermedades físicas para la sanación

                    Comencé a utilizar las palabras gatillos y he obtenidos buenos resultados, pero luego asistí a un entrenamiento de crecimiento personal y después de varios estrategias allí utilizadas nos plantearon buscar unas palabras con las cuales nos identificamos, y utilizarlas como mantras en los momentos difíciles de nuestra vida. Mi frase fue Yo soy una mujer feliz, segura y apasionada.

                    Analizando lo de las frases, tanto las palabras gatillo o los mantras son palabras con las cuales nos identificamos y que nos ayudan a sobrellevar las situaciones difíciles y a sacar todo lo bueno que tenemos.

                    Haz esta práctica con las palabras positivas que tu decidas en cualquier momento de tu vida y veras cuanto te ayudan a diario, pues no existen límites en la vida, ahora es el momento para lograr tus metas, todo el poder viene de tu interior, así que búscalo y camina seguro y a paso firme hacia la felicidad.
            </p>

            </div>
        </div>

    </div>

{% endblock %}