{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block description %}
{% endblock %}
{% block head %}
    <meta property="og:title" content="SoyCruzMery Hooponopono" />
    <meta property="og:description" content="El Hooponopo es un universo" />
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-8 col-lg-8 text-center bg-secondary img-thumbnail">
        <img src="{% static "imagenes/cruzmery.jpg" %}" class="img-fluid img-thumbnail" alt="SoyCruzmery">
            <h1 class="display-4 font-weight-normal text-white">Ho’oponopono</h1>
            <h2 class="text-white ">
                Descubre tu energía de amor con el Ho’oponopono.
                Vive desde el amor, deja el miedo.
            </h2>
    </div>
    <div class="col-md-4 col-lg-4 bg-primary container-fluid img-thumbnail">
            <h2 class="text-white ">
                Próximamente.
            </h2>
            <div class="col-md-8 col-lg-8 container-fluid">
                <div class="card h-30" >
                  <img class="card-img-top" src="{% static "imagenes/hooponopono1.jpeg" %}" alt="Conoce el Ho'oponopono">
                  <div class="card-body">
                    <p class="card-title">Conoce el Ho'oponopono</p>
                    <p class="card-text">Reto de 7 días.</p>

                  </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-8 container-fluid">
                <div class="card h-30" >
                  <img class="card-img-top" src="{% static "imagenes/hooponopono1.jpeg" %}" alt="Conoce el Ho'oponopono">
                  <div class="card-body">
                    <h5 class="card-title">Conoce el Ho'oponopono</h5>
                    <p class="card-text">Reto de 7 días.</p>

                  </div>
                </div>
            </div>

    </div>
</div>
<div class="row bg-primary justify-content-md-center ">
        <div class="col-mb-4">
                <div class="card md-4 h-100 w-100" style="max-width: 18rem; max-height: 25rem;">
                  <img class="card-img-top" src="{% static "imagenes/hooponopono1.jpeg" %}" alt="Conoce el Ho'oponopono">
                  <div class="card-body">
                    <p class="card-title">Conoce el Ho'oponopono</p>
                    <p class="card-text">Reto de 7 días.</p>

                  </div>
                </div>
            </div>

            <div class="col-mb-4">
                <div class="card  md-4 h-100 w-100" style="max-width: 18rem; max-height: 25rem;">
                  <img class="card-img-top" src="{% static "imagenes/hooponopono1.jpeg" %}" alt="Conoce el Ho'oponopono">
                  <div class="card-body">
                    <h5 class="card-title">Conoce el Ho'oponopono</h5>
                    <p class="card-text">Reto de 7 días.</p>

                  </div>
                </div>
            </div>
            <div class="col-mb-4">
                <div class="card md-4 h-100 w-100" style="max-width: 18rem; max-height: 25rem;">
                  <img class="card-img-top" src="{% static "imagenes/hooponopono1.jpeg" %}" alt="Conoce el Ho'oponopono">
                  <div class="card-body">
                    <p class="card-title">Conoce el Ho'oponopono</p>
                    <p class="card-text">Reto de 7 días.</p>

                  </div>
                </div>
            </div>

            <div class="col-mb-4">
                <div class="card  md-4 h-100 w-100" style="max-width: 18rem; max-height: 25rem;">
                  <img class="card-img-top" src="{% static "imagenes/hooponopono1.jpeg" %}" alt="Conoce el Ho'oponopono">
                  <div class="card-body">
                    <h5 class="card-title">Conoce el Ho'oponopono</h5>
                    <p class="card-text">Reto de 7 días.</p>

                  </div>
                </div>
            </div>
    </div>

<div class="row">
    <div class="col-md-8 col-lg-12 text-center img-fluid img-thumbnail bg-primary">
            <h1 class="display-4 font-weight-normal img-thumbnail">El Ho’oponopono llego oportunamente a mi vida</h1>
                <p class="text-justify ">
                        Mi madre fue una mujer especial durante su vida, y así de especial fue su muerte,
                    en el momento que le toco partir de este mundo mi hermana que estaba con ella en su lecho de muerte le
                    decía muy bajito mientras agonizaba; quedate tranquila despídete poco a poco y con calma y repite estas
                    palabras “Lo siento, perdóname, te amo, gracias "
                    ella lentamente se fue quedando tranquila y serena hasta que nos dio el último adiós.
                    Fue un proceso bonito a pesar del dolor que nos causó.<br>
                </p>
                <p class="text-justify ">
                    A los días le pregunté a mi hermana de las palabras que le sugirió a mi madre repitiera, de allí conocí el Hoponopono,
                    es una filosofía basada en la tradición hawaiana orientada a la corrección de patrones y creencias negativas,
                    ancladas en el subconsciente que impide el desarrollo individuo  para conectar el momento “presente” y a una
                    situación en particular que genere preocupación, estas palabras actúan por repetición de acuerdo a la comodidad del
                    practicante, las puedes utilizar siguiendo tu intuición, puedes crear tus propias secuencias e incluirlas en tus
                    prácticas diarias espirituales, puedes repetir las frases todas las veces que quieras y que consideres necesarias y
                    en el momento que creas conveniente.
            </p>
            <p><a class="btn btn-secondary bg-secondary" href="/contacto" role="button">Conóceme &raquo;</a></p>
    </div>

</div>
{% endblock %}