{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
        <div class="row">
            <div class="col-md-3 col-lg-3 text-center">
                <div class="card h-100" style="width: 18rem;">
                  <img class="card-img-top" src="{% static "imagenes/marbelis.jpeg" %}" alt="Marbelis Linares">
                  <div class="card-body">
                    <h5 class="card-title">Marbelis Linares</h5>
                    <p class="card-text">Simplemente Gracias, gracias, gracias. Han sido días de trabajo personal, reflexión, crecimiento. Gracias por las herramientas que nos dejastes. Ya el compromiso es con nosotros mismos de continuarlo.- agradecida.</p>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-primary text-center">
                        <!-- Social buttons -->
                        <ul class="list-unstyled list-inline text-center text-white">

                          <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/marbelis.linares">
                              <i class="fab fa-facebook-f"> </i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1 text-white" href="https://www.instagram.com/linaresmarbelis/">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>

                        </ul>
                        <!-- Social buttons -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <div class="card h-100" style="width: 18rem;">
                  <img class="card-img-top" src="{% static "imagenes/Nalbelys.jpeg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Nalbelis Villegas</h5>
                    <p class="card-text">Estas herramientas me han ayudado muchísimo a mejorar muchas cosas que no sabía como canaliazarlas, inmensamente agradecida por incluirme en esta actividad.</p>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-primary text-center">
                        <!-- Social buttons -->
                        <ul class="list-unstyled list-inline text-center text-white">

                          <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/nalbelis">
                              <i class="fab fa-facebook-f"> </i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1 text-white" href="https://www.instagram.com/nalbelis.24/">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>

                        </ul>
                        <!-- Social buttons -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <div class="card h-100" style="width: 18rem;">
                  <img class="card-img-top" src="{% static "imagenes/ivon.jpg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Ivonne Moreno</h5>
                    <p class="card-text">Las actividades del ho'oponopono para mi me han ayudado muchísimo me siento más  segura, he  aclarado muchas dudas en cuanto a mi pasado, ahora me mantengo con mayor ánimo y motivación, una que otra vez que vienen situaciones difíciles me siento triste pero el hecho de soltar todos mis problemas a Dios me tranquiliza y confió en que el me dará las fuerzas para soportarlo y salir adelante. Ahora veo mi futuro desde otro ámbito mi autoestima está aumentando y con las prácticas podré seguir mejorando. Gracias gracias gracias de verdad por ayudarme a conocer estas.</p>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-primary text-center">
                        <!-- Social buttons -->
                        <ul class="list-unstyled list-inline text-center text-white">

                          <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/ivonbis">
                              <i class="fab fa-facebook-f"> </i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1 text-white" href="https://www.instagram.com/ivonbis/">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>

                        </ul>
                        <!-- Social buttons -->
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <div class="card h-100" style="width: 18rem;">
                  <img class="card-img-top" src="{% static "imagenes/lilia.jpg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Lilia Villegas </h5>
                    <p class="card-text">Hola soy Lilia Villegas con este reto aprendí muchas cosas y refresque muchas otras gracias gracias gracias por el método que empleado muy cómodo y fácil de entender ..........</p>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-primary text-center">
                        <!-- Social buttons -->
                        <ul class="list-unstyled list-inline text-center text-white">
                          <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1 text-white" href="https://www.facebook.com/lilia.villegas">
                              <i class="fab fa-facebook-f"> </i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1 text-white" href="https://www.instagram.com/lilia428/">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>

                        </ul>
                        <!-- Social buttons -->
                    </div>
                  </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}